img {
    width: 60%;
    padding: 25px;    
}

.products {
    text-align: center;
    display: inline;
    /* border: 2px dotted rgb(0,255,0); */
    margin: 10px;
}

.products hr{
    display: inline-block;
    color: green;
    width: 5vw;
    border: 1px solid;
    margin: 0.5rem;
}


.row {
    padding: 10px;
    
}

.buttons {
    
   text-align: center;
}

.buttons > button{
    /* border: 2px dotted rgb(0,255,0); */
    padding: 7px;
    margin: 5px;
    background-color: white;
}

.buttons > button:hover{
    background-color: greenyellow;
}